.root {

    border: 1px solid black;
    border-radius: 10px;
  
    display: flex;
    align-items: center; 
    text-align: center; 
    justify-content: space-between; /* distribui melhor os elementos */
  
    padding: 1px;           
    width: 101%;             /* ocupa 100% da célula do grid */
    height: 101%;            /* faz todos os cards terem mesma altura */
    box-sizing: border-box;  /* evita estouro de padding */
}
.imageWrapper {
    width: 100%;
    height: 150px;       /* define altura fixa da imagem dentro do card */
    overflow: hidden;    /* evita que a imagem extrapole o card */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* faz a imagem preencher a área e manter proporção */
    border-radius: 10px; /* opcional, para combinar com o card */
}
